# Operating Systems
.DS_Store
Thumbs.db

# Yarn 2 Zero-Install (https://yarnpkg.com/features/zero-installs)
.yarn/*
!/**/.yarn/releases
!/**/.yarn/plugins
!/**/.yarn/sdks
!/**/.yarn/versions

# Dev
dist/
coverage/
*.tsbuildinfo

# Other
*.log
.idea/workspace.xml
.idea/runConfigurations
.eslintcache
node_modules
.nx/cache
